# 1. PySpark expr() Syntax

## Syntax: expr(str)

expr() function takes sql expression as a string argument, executes the expression, and returns a PySpark Column type. Expressions provided with this function are not a compile-time safety like dataframe operations.

In [2]:
from pyspark.sql import SparkSession 
from pyspark.sql.functions import *
spark = SparkSession.builder.getOrCreate()

25/02/27 12:11:02 WARN Utils: Your hostname, user-HP-Pavilion-x360-Convertible-14-dh0xxx resolves to a loopback address: 127.0.1.1; using 192.168.1.24 instead (on interface wlo1)
25/02/27 12:11:02 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/02/27 12:11:02 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/02/27 12:11:03 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

## Concatenate Columns using || (similar to SQL)

In [3]:
data = [("James", "Bond"),("Scott","Varsa")]
df = spark.createDataFrame(data).toDF("col1","col2") 
df.withColumn("Name",expr("col1||','|| col2")).show()

+-----+-----+-----------+
| col1| col2|       Name|
+-----+-----+-----------+
|James| Bond| James,Bond|
|Scott|Varsa|Scott,Varsa|
+-----+-----+-----------+

## Using SQL CASE WHEN with expr()

In [1]:
from pyspark.sql.functions import expr 
data = [("James","M"),("Michael", "F"),("Jen","")]
columns=["names","gender"] 

df = spark.createDataFrame(data,columns)

from pyspark.sql.functions import expr 
df2 = df.withColumn("gender",expr("case when gender='M' then 'Male'" + "when gender='F' then 'Female'"+"else 'unknown' end"))
df2.show()

NameError: name 'spark' is not defined

## Using an Existing Column Value for Expression

Most of the PySpark function takes constant literal values but somtimes we need to use a value 
from an existing column instead of a constant and this is not possible without expr() expression. The following example adds a numer of months from an existing column instead of a Python Constant.

In [7]:
data = [("2019-01-23",1),("2019-06-24",2),("2019-09-20",3)] 
df = spark.createDataFrame(data).toDF("date","increment") 
df.select(df.date, df.increment, expr("add_months(date,increment)").alias("inc_date")).show()

+----------+---------+----------+
|      date|increment|  inc_date|
+----------+---------+----------+
|2019-01-23|        1|2019-02-23|
|2019-06-24|        2|2019-08-24|
|2019-09-20|        3|2019-12-20|
+----------+---------+----------+