# Introduction

In PySpark, there are various date time functions that can be used to manipulate and extract information from date and time values. 

Here are some commonly used date time functions in PySpark:

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

24/12/27 11:57:57 WARN Utils: Your hostname, user-HP-Pavilion-x360-Convertible-14-dh0xxx resolves to a loopback address: 127.0.1.1; using 192.168.122.1 instead (on interface virbr0)
24/12/27 11:57:57 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/12/27 11:57:57 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
from pyspark.sql.functions import *

# create sample Dataframe
data = [("2022-03-15", "2022-03-16 12:34:56.789"), 
        ("2022-03-01", "2022-03-16 01:23:45.678")] 
df = spark.createDataFrame(data, ["date_col","timestamp_col"]) 
df.show(truncate=False)

+----------+-----------------------+
|date_col  |timestamp_col          |
+----------+-----------------------+
|2022-03-15|2022-03-16 12:34:56.789|
|2022-03-01|2022-03-16 01:23:45.678|
+----------+-----------------------+

1. CURRENT_DATE 
current_date(): This function returns the current date in the format "yyyy-MM-dd".

In [3]:
df.select(current_date().alias("current_date")).show()

+------------+
|current_date|
+------------+
|  2024-12-27|
|  2024-12-27|
+------------+

2. CURRENT_TIMESTAMP
This function returns the current timestamp in the format "yyyy-MM-dd:HH:mm:ss.SSS"

In [4]:
df.select(current_timestamp()).show(truncate=False)

+--------------------------+
|current_timestamp()       |
+--------------------------+
|2024-12-27 11:58:38.699413|
|2024-12-27 11:58:38.699413|
+--------------------------+

# 3. DATE_ADD

date_add(start_date, num_days) : This function returms a new date by adding specified number of days to a given start date.

# 4. DATE_SUB

date_sub(start_date, num_days) : This function returns a new date by subtracting a specified number of days from a given start date.

In [5]:
df.select(date_add("date_col", 5), date_sub("date_col", 10)).show()

+---------------------+----------------------+
|date_add(date_col, 5)|date_sub(date_col, 10)|
+---------------------+----------------------+
|           2022-03-20|            2022-03-05|
|           2022-03-06|            2022-02-19|
+---------------------+----------------------+

# 5. DATEDIFF

datediff(end_date, start_date): This function returns the number of days between two dates.

In [7]:
df.select(datediff("timestamp_col", "date_col").alias("date_diff")).show()

+---------+
|date_diff|
+---------+
|        1|
|       15|
+---------+

# 6. YEAR

year(date): This function returns the year components of a date.

# 7. DAYOFYEAR

dayofyear(date): Returns the day of the year of the input date.

# 8. month(date):

month(date): This function returns the month component of a date.

# 9. DAYOFMONTH

dayofmonth(date): This function returns the day of the month component of a date.

In [9]:
df.select(year("date_col"),dayofyear("date_col"), month("date_col"), dayofmonth("date_col")).show()

+--------------+-------------------+---------------+--------------------+
|year(date_col)|dayofyear(date_col)|month(date_col)|dayofmonth(date_col)|
+--------------+-------------------+---------------+--------------------+
|          2022|                 74|              3|                  15|
|          2022|                 60|              3|                   1|
+--------------+-------------------+---------------+--------------------+

# 10. HOUR

hour(timestamp): This function returns the hour component of a timestamp.

# 11. MINUTE

minute(timestamp): This function retrns the minute component of a timestamp.

# 12. SECOND

second(timestamp): This function returns the second component of a timestamp.

In [10]:
df.select(hour("timestamp_col"),minute("timestamp_col"), second("timestamp_col")).show()

+-------------------+---------------------+---------------------+
|hour(timestamp_col)|minute(timestamp_col)|second(timestamp_col)|
+-------------------+---------------------+---------------------+
|                 12|                   34|                   56|
|                  1|                   23|                   45|
+-------------------+---------------------+---------------------+